label {
  display: block;
  margin-bottom: 8px;
  color: black;
  // font-weight: bold;
}

.checkbox-wrapper {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  // gap: 0px;
  padding: 10px 0;
  margin-bottom: 4px;

  label.form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.15rem;
    font-weight: inherit;
    line-height: 1.50;
    display: inline-flex;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    border: 0;
    width: fit-content;
    padding: 5px 0;
    margin: 0;

    input[type="checkbox"] {
      /* Add if not using autoprefixer */
      // -webkit-appearance: none;
      // appearance: none;
      /* For iOS < 15 to remove gradient background */
      /* Not removed via appearance */
      font: inherit;
      color: currentColor;
      width: 1em;
      height: 1em;
      border: 0.15em solid currentColor;
      border-radius: 0.15em;
      transform: translateY(-0.075em);
      display: grid;
      place-content: center;

      &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    span {
      font-size: small;
    }
  }
}
