.container-item-course {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .zone-media {
    width: 560px;
    border-radius: 10px;
    div.media {
      border-radius: 10px;
      img,
      iframe {
        border: none;
        border-radius: 10px;
        height: 315px;
        width: 560px;
      }

      img {
        object-fit: cover;
      }
    }
    .course-heading {
      padding: 15px 0px 0 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .zone-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        button {
          margin-left: 15px;
          box-shadow: rgb(224, 224, 224) 0px 1px 4px;
        }
      }

      div.zone-text.title {
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .infos-professors-area {
        display: flex;
        padding: 10px;
        border-radius: 10px;
        justify-content: space-between;
        background-color: rgb(244, 244, 244);
        box-shadow: rgb(224, 224, 224) 0px 1px 4px;

        .photos-area {
          width: 70px;
          height: 70px;
          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .infos-course-area {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: calc(90% - 50px);

          h3 {
            margin: 0;
          }

          div.text-area {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
              display: inline-block;
              line-height: 20px;
              position: relative;
              padding-right: 20px;
              text-align: justify;
              // Pour faire un overflox sur plusieurs lignes ( 5)
              &.hidden-more {
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: calc(20px * 5);
              }
              &.hidden-more::after {
                content: "...";
                position: absolute;
                bottom: 0;
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  .zone-datas {
    background-color: rgb(244, 244, 244);
    box-shadow: rgb(224, 224, 224) 0px 1px 4px;
    width: 100%;
    margin-left: 40px;
    border-radius: 10px;
    padding: 20px;

    .informations {
      max-height: 500px;
      overflow-y: auto;
       p {
        text-align: justify;
        margin: 0;
       }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container-item-course {
    display: flex;
    flex-direction: column;
    .zone-media {
      width: 100%;
      div.media {
        // Video Responsive
        &.video {
          position: relative;
          width: 100%;
          overflow: hidden;
          padding-top: 75%; /* 4:3 Aspect Ratio */
          iframe.responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
          }
        }

        &.img img {
          width: 100%;
          height: 315px;
          object-fit: cover;
        }
      }
    }

    .zone-datas {
      background-color: rgb(244, 244, 244);
      border-radius: 10px;
      width: 100%;
      margin-left: 0px;
      margin-top: 50px;
    }
  }
}
