.update-category{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.title-page{
   text-align: start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.content-edit-category{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;

}
.label-edit-category{
    text-align: start;
}
.input-edit-category{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #383838;
    width: 100%;
    text-align: start;
}
.btn-edit-category{
    padding: 10px;
    background-color: rgb(43, 163, 57);
    color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    margin-bottom: 50px;
}