// Couleurs
$color-primary: #007bff;
$color-secondary: #ccc;
$color-placeholder: #bbb;
$border-color : rgb(184, 183, 183);

// Tailles
$input-height: 33px;
$input-padding: 8px;
$border-radius: 4px;

// label.input-text {
//   margin: 10px 0;
//   display: inline-block;
// } 

div.grp-input{
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(193, 193, 193);
  border-radius: $border-radius;
  cursor: pointer;
  &.textarea {
    padding: 0;
    border: none;
    textarea {
      width: 100%;
      border: 1px solid rgb(193, 193, 193);
      border-radius: $border-radius;
    }
  }

  button.icon-search {
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    // padding: 8px;
    // height: $input-height;
    color: $border-color;
    font-size: 17px;
    cursor: pointer;
    border: none;
  }
  input.input-search-input {
    font-size: 17px;
    padding: 7px;
    margin: 0;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    &::placeholder {
      color: $color-placeholder;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &:focus-within,:focus  {
    border: 1px solid rgb(195, 195, 195);
    outline: none;
    box-shadow: 0px 0px 0px 2px #a9b6facb;
  }


  &.disabled-input {
    // cursor: not-allowed;
    color: black;
    background-color: #f1f1f1;
  }

  &.error {
    border-color: red;

    &:focus {
      box-shadow: 0 0 0 2px red;
    }
  }

  &.success {
    border-color: green;

    &:focus {
      box-shadow: 0 0 0 2px green;
    }
  }
}




