@import "/sass/scss/main.scss";


.form-register {
  padding: 70px 0px;
  form.mx-auto {
    padding: 50px 40px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    box-shadow: rgb(224, 224, 224) 0px 1px 4px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: $secondary-color;

    h1 {
      text-align: center;
      padding-bottom: 10px;
      margin: 0;
      color: $backGroundColor;
    }
    .mb-3 {
      margin: 10px 0;
    }
    .mb-3 button.primary {
      margin: 20px 0;
      width: 100%;
      margin-bottom: 16px;
      background-color: $backGroundColor;
    }
    .link-btn {
      margin-top: 0px;
      margin-bottom: 0;
      text-align: center;
      & > a {
        color: $backGroundColor;
        text-decoration: none;
        font-weight: bolder;
      }
    }
  }
}
