
// PRIMARY
$primary-color: #6772DC;
$primary_hover: #4E5BDB;
$primary_focus-box-sadow: 0px 0px 0px 3px #dedef8;
$primary_transparent: #b794f400;

// SECONDARY
$secondary-color: #fbfbfb;
$secondary_hover: #F5F5F5;
$secondary_focus-box-sadow: 0px 0px 0px 3px rgba(209, 209, 209, 0.319);
$secondary_transparent: #1cc6d900;

//TERCIARY
$tertiary-color: #F5EFFF;
$tertiary_hover: #107682;
$tertiary_active: #2b6a70;
$tertiary_opacity: #c9b6f480;
$tertiary_transparent: #1cc6d900;

//Heading
$h1_color: #000;
$h2_color: #000;
$h3_color: #000;
$h4_color: #000;
$h5_color: #000;
$h6_color: #000;

$paragraph_color:#000;
$span_color: #000;

$backGroundColor : #191f5c;

