
// PRIMARY
$primary-color: #291c69;
$primary_hover: #7e5b9f;
$primary_active: #c9b6f4;
$primary_opacity: #c9b6f480;
$primary_transparent: #b794f400;

// SECONDARY
$secondary-color: #6558d3;
$secondary_hover: #107682;
$secondary_active: #76dce8;
$secondary_opacity: #c9b6f480;
$secondary_transparent: #1cc6d900;

//TERCIARY
$tertiary-color: #F5EFFF;
$tertiary_hover: #107682;
$tertiary_active: #2b6a70;
$tertiary_opacity: #c9b6f480;
$tertiary_transparent: #1cc6d900;

//Heading
$h1_color: #000;
$h2_color: #000;
$h3_color: #000;
$h4_color: #000;
$h5_color: #000;
$h6_color: #000;

$paragraph_color:#000;
$span_color: #000;